/*基本設定*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #e52121;
    padding: 5px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    color: blueviolet;
    padding: 5px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: blue;
    padding: 5px;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #342f2f;
    padding: 5px;
}

.jumbotron {
    background-image: url(../images/background.jpg);
    color: skyblue;
    height: 80vh;
    background-size: cover;
    padding: 80px;
}

.jumbotron img {
    width: 550px;
    height: 400px;
}

.jumbotron p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.jumbotron a {
    height: 80px;
    padding: 20px;
    border-radius: 5%;
    background-color: rgba(78, 78, 165, 1);
    color: white;
    text-decoration: none;
}

.jumbotron a:hover {
    background-color: rgba(102, 102, 175, 0.6);
}

.main {
    width: 80%;
    margin: 0 auto;
}

.main img {
    width: 600px;
    height: 400px;
}