<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>景點推薦</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"> </head>

<body>
    <!-- 輪播結合jumbotron-->
    <div id="slideshow" class="carousel slide" data-ride="carousel">
        <!--圖片輪播放這邊-->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>南寮漁港</h1>
                                <p>南寮漁港位在新竹巿西北郊，離新竹市區不遠，因此交通十分便利；南寮漁港於民國38年啟用完工，在擴建後無論是漁船的數量、噸位或是漁獲量都可說是桃、竹、苗地區屬一屬二的漁港；南寮舊港及其周邊聚落為新竹市早期發展地區之一，見證了新竹市的歷史發展過程，具有重要的歷史文化價值，南寮漁港更是南北漁船返航路之終點，過去亦是各地魚貨漁船的集散地，因而名列十二勝，並有『南寮歸帆』雅稱。</p>
                                <p><a href="#harbor">詳細資訊</a></p>
                            </div>
                            <div class="col-md-6"> <img src="../view/images/Harbor1.jpg" alt="查無圖片"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Hello World</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, dolor commodi aut veniam voluptatum voluptatibus, provident nesciunt pariatur! Accusamus ipsum in quia optio animi culpa inventore quisquam, commodi eaque officia? </p>
                                <buttton class="btn btn-primary">Read more</buttton>
                            </div>
                            <div class="col-md-6"> <img src="images/pic.jpg" alt="flash"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Hello World</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, dolor commodi aut veniam voluptatum voluptatibus, provident nesciunt pariatur! Accusamus ipsum in quia optio animi culpa inventore quisquam, commodi eaque officia? </p>
                                <buttton class="btn btn-primary">Read more</buttton>
                            </div>
                            <div class="col-md-6"> <img src="images/pic.jpg" alt="flash"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--左右控制鍵-->
        <div class="control-btn">
            <a href="#slideshow" class="left carousel-control" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hiddden="true"></span> </a>
            <a href="#slideshow" class="right carousel-control" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hiddden="true"></span> </a>
        </div>
        <!--下面的點點-->
        <ol class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="0" class="active"></li>
            <li data-target="#slideshow" data-slide-to="1"></li>
            <li data-target="#slideshow" data-slide-to="2"></li>
        </ol>
    </div>
    <!--    主要內容-->
    <div class="main">
        <div class="row">
            <h2 id="harbor">南寮漁港</h2>
            <ul class="nav nav-pills">
                <li class="active"><a href="#tab1" data-toggle="tab">交通資訊</a></li>
                <li><a href="#tab2" data-toggle="tab">景點介紹</a></li>
                <li><a href="#tab3" data-toggle="tab">附近推薦景點</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <h3>交通資訊</h3>
                    <p>地址：新竹市南寮街</p>
                    <p>交通： 自行開車：國道一號：於新竹交流道下高速公路，沿著122縣道（光復路）前行，經巿區接東大路續行至南寮，在南寮派出 所前遇岔路，取中間道路往南寮漁港方向續行，即可到達南寮漁港。</p>
                    <p>地圖：</p> <img src="images/HarborMap.jpg" alt="查無圖片"> </div>
                <div class="tab-pane" id="tab2">
                    <h3>景點介紹</h3>
                    <p>南寮漁港最特別的是其充滿地中海風情的建築~~</p> <img src="images/Harbor2.jpg" alt="查無圖片">
                    <h4>魚產直銷中心</h4>
                    <p>直銷中心分為兩層樓，一樓是新鮮進口、現撈魚貨的專賣，還有各種海鮮製成的乾貨</p>
                    <p>二樓是美食、熟食專區，有現做現煮的魚丸、蚵仔煎、米粉、鮮魚湯...等</p> <img src="images/Harbor3.jpg" alt="查無圖片">
                    <h4>十七公里海岸線</h4>
                    <p>如果有時間建議可以到附近租腳踏車沿著十七公里海岸線騎，非常舒服~~</p> <img src="images/Harbor4.jpg" alt="查無圖片"> </div>
                <div class="tab-pane" id="tab3">
                    <h3>附近推薦景點</h3>
                    <h4>新月沙灘</h4>
                    <p>如果覺得已經到海邊很想踩踩海水</p>
                    <p>建議可以到附近的新月沙灘走走~~</p> <img src="images/Harbor5.jpg" alt="查無圖片">
                    <p>建議可以下午去，不會太熱也可以順道看美麗的夕陽~~</p> <img src="images/Harbor6.jpg" alt="查無圖片"> </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>