<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>景點推薦</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"> </head>

<body>
    <!--    navbar-->
    <nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a href="" class="navbar-brand"></a>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">首頁</a></li>
                    <li><a href="index.html">景點推薦</a></li>
                    <li><a href="../food/index.html">美食推薦</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">facebook</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 輪播結合jumbotron-->
    <div id="slideshow" class="carousel slide" data-ride="carousel">
        <!--圖片輪播放這邊-->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>南寮漁港</h1>
                                <p>南寮漁港位在新竹巿西北郊，離新竹市區不遠，因此交通十分便利；南寮漁港於民國38年啟用完工，在擴建後無論是漁船的數量、噸位或是漁獲量都可說是桃、竹、苗地區屬一屬二的漁港；南寮舊港及其周邊聚落為新竹市早期發展地區之一，見證了新竹市的歷史發展過程，具有重要的歷史文化價值，南寮漁港更是南北漁船返航路之終點，過去亦是各地魚貨漁船的集散地，因而名列十二勝，並有『南寮歸帆』雅稱。</p>
                                <p><a href="#harbor">詳細資訊</a></p>
                            </div>
                            <div class="col-md-6"> <img src="../view/images/Harbor1.jpg" alt="查無圖片"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>內灣老街</h1>
                                <p>內灣老街位於新竹縣橫山鄉，當地居民以客家為主。近年來以懷舊的老街情懷包含了帶動觀光，包還古色古香的內灣車站、內灣戲院及內灣吊橋等新竹旅遊景點，內灣老街除了傳統街屋建築外，還有那漫畫家劉興欽博物館，作者筆下親切的大嬸婆與阿三哥、淘氣機器人等都可以在此看到。來到內灣老街，還可順道品嚐美味的野薑花肉粽、紫玉菜包、客家擂茶、擂茶冰沙、客家麻糬等特色美食。 </p>
                                <p><a href="#basin">詳細資訊</a></p>
                            </div>
                            <div class="col-md-6"> <img src="../view/images/basin1.jpg" alt="查無圖片"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>北埔老街</h1>
                                <p>北埔老街這聞名瑕爾的街道，清朝時，這裡就曾是北埔最熱鬧的商業中心，稱之為上街與下街，而兩旁街屋為大正式的牌樓建築，隨著時代的變遷，許多店家已重新改建，但是在廟宇前交接處，仍留有3.4棟當時的舊貌建築，老街雖不長，短短100公尺內的歷史故事，確能讓人聽得津津樂道，而這兒所留下的歷史古蹟，舉凡台閩一級古蹟金廣福、姜家天水堂、姜阿新故宅，還有三級古蹟慈天宮，更是讓人大開眼界。 </p>
                                <p><a href="#Beipu">詳細資訊</a></p>
                            </div>
                            <div class="col-md-6"> <img src="../view/images/Beipu1.jpg" alt="flash"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--左右控制鍵-->
        <div class="control-btn">
            <a href="#slideshow" class="left carousel-control" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hiddden="true"></span> </a>
            <a href="#slideshow" class="right carousel-control" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hiddden="true"></span> </a>
        </div>
        <!--下面的點點-->
        <ol class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="0" class="active"></li>
            <li data-target="#slideshow" data-slide-to="1"></li>
            <li data-target="#slideshow" data-slide-to="2"></li>
        </ol>
    </div>
    <!--    主要內容-->
    <div class="main">
        <div class="row">
            <h2 id="harbor">南寮漁港</h2>
            <ul class="nav nav-pills">
                <li class="active"><a href="#tab1" data-toggle="tab">交通資訊</a></li>
                <li><a href="#tab2" data-toggle="tab">景點介紹</a></li>
                <li><a href="#tab3" data-toggle="tab">附近推薦景點</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <h3>交通資訊</h3>
                    <p>地址：新竹市南寮街</p>
                    <p>交通： 自行開車：國道一號：於新竹交流道下高速公路，沿著122縣道（光復路）前行，經巿區接東大路續行至南寮，在南寮派出 所前遇岔路，取中間道路往南寮漁港方向續行，即可到達南寮漁港。</p>
                    <p>地圖：</p> <img src="images/HarborMap.jpg" alt="查無圖片"> </div>
                <div class="tab-pane" id="tab2">
                    <h3>景點介紹</h3>
                    <p>南寮漁港最特別的是其充滿地中海風情的建築~~</p> <img src="images/Harbor2.jpg" alt="查無圖片">
                    <h4>魚產直銷中心</h4>
                    <p>直銷中心分為兩層樓，一樓是新鮮進口、現撈魚貨的專賣，還有各種海鮮製成的乾貨</p>
                    <p>二樓是美食、熟食專區，有現做現煮的魚丸、蚵仔煎、米粉、鮮魚湯...等</p> <img src="images/Harbor3.jpg" alt="查無圖片">
                    <h4>十七公里海岸線</h4>
                    <p>如果有時間建議可以到附近租腳踏車沿著十七公里海岸線騎，非常舒服~~</p> <img src="images/Harbor4.jpg" alt="查無圖片"> </div>
                <div class="tab-pane" id="tab3">
                    <h3>附近推薦景點</h3>
                    <h4>新月沙灘</h4>
                    <p>如果覺得已經到海邊很想踩踩海水</p>
                    <p>建議可以到附近的新月沙灘走走~~</p> <img src="images/Harbor5.jpg" alt="查無圖片">
                    <p>建議可以下午去，不會太熱也可以順道看美麗的夕陽~~</p> <img src="images/Harbor6.jpg" alt="查無圖片"> </div>
            </div>
        </div>
        <div class="row">
            <h2 id="basin">內灣老街</h2>
            <ul class="nav nav-pills">
                <li class="active"><a href="#basintab1" data-toggle="tab">交通資訊</a></li>
                <li><a href="#basintab2" data-toggle="tab">景點介紹</a></li>
                <li><a href="#basintab3" data-toggle="tab">附近推薦景點</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="basintab1">
                    <h3>交通資訊</h3>
                    <p>地址：新竹市南寮街</p>
                    <p>交通： 自行開車：由在竹林交流道下，循120縣道往南接台3線即可到達內灣老街。 </p>
                    <p>地圖：</p> <img src="images/BasinMap.jpg" alt="查無圖片"> </div>
                <div class="tab-pane" id="basintab2">
                    <h3>景點介紹</h3>
                    <p>新竹另一個必去的景點就是內灣老街，最特別的是懷舊的老街情懷，包含古色古香的內灣車站、內灣戲院及內灣吊橋，會在以下一一簡介~~</p> <img src="images/basin2.jpg" alt="查無圖片">
                    <h4>內灣火車站</h4>
                    <p>建議可以搭乘內灣支線的火車，欣賞沿途風景~~</p> <img src="images/basin3.jpg" alt="查無圖片">
                    <h4>內灣戲院</h4>
                    <p>內灣戲院最早於民國39年啓用，主要是為了在山林中辛苦勞動的工人所建 但也成為當時僅有一千多人的小村落的最主要休閒娛樂場所 兩層樓的日式傳統建築，以木材構成，可以進去裡面感受懷舊風情</p> <img src="images/basin4.jpg" alt="查無圖片">
                    <h4>內灣吊橋</h4>
                    <p>內灣吊橋昔日為穿越油羅溪來往南坪的交通要道，擁有雙橋墩的構造，站在鋼索的吊橋上，可觀看整個油羅溪河谷的景色。</p> <img src="images/basin5.jpg" alt="查無圖片"></div>
                <div class="tab-pane" id="basintab3">
                    <h3>附近推薦景點</h3>
                    <h4>內灣賞螢</h4>
                    <p>每年四到五月可以到內灣欣賞螢火蟲~~</p> <img src="images/basin6.jpg" alt="查無圖片"> </div>
            </div>
        </div>
        <div class="row">
            <h2 id="Beipu">北埔老街</h2>
            <ul class="nav nav-pills">
                <li class="active"><a href="#Beiputab1" data-toggle="tab">交通資訊</a></li>
                <li><a href="#Beiputab2" data-toggle="tab">景點介紹</a></li>
                <li><a href="#Beiputab3" data-toggle="tab">附近推薦景點</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="Beiputab1">
                    <h3>交通資訊</h3>
                    <p>地址：新竹縣北埔鄉北埔街</p>
                    <p>交通： 自行開車：由竹東或峨眉沿3號省道進入北埔，至北埔車站轉向秀巒山下的中正路直行即達北埔老街。 </p>
                    <p>地圖：</p> <img src="images/BeipuMap.jpg" alt="查無圖片"> </div>
                <div class="tab-pane" id="Beiputab2">
                    <h3>景點介紹</h3>
                    <p>北埔老街有很多必吃客家傳統小吃，可以享受充滿客家風情的旅行。</p> <img src="images/Beipu2.jpg" alt="查無圖片">
                    <h4>慈天宮</h4>
                    <p>整個北埔老街，似乎就是以這座古樸的慈天宮為中心發展起來，最熱鬧的區域就集中在廟口附近的十字路一帶</p> <img src="images/Beipu3.jpg" alt="查無圖片">
                    <h4>北埔擂茶</h4>
                    <p>到了北埔別忘了體驗客家擂茶，自己親手揮發汗水同心協力磨的擂茶，別有一番風味唷~~</p> <img src="images/Beipu4.jpg" alt="查無圖片"> </div>
                <div class="tab-pane" id="Beiputab3">
                    <h3>附近推薦景點</h3>
                    <h4>北埔冷泉</h4>
                    <p>既然來到北埔怎麼能錯過北埔冷泉呢，從北埔至冷泉車行約20分鐘，冷泉水質非常特殊，傳說浸泡冷泉具多種療效，走我們來享受當今最熱門的負離子滋潤喔！</p> <img src="images/Beipu5.jpg" alt="查無圖片">
                    <p>非常適合全家大小到溪邊泡泡腳，不過也要注意安全喔~</p> <img src="images/Beipu6.jpg" alt="查無圖片"></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>